  <%= form_for @circus do |q| %>
    <% if @circus.errors.any? %>
      <ul class='errors'>
        <% @circus.errors.full_messages.each do |e| %>
          <li class='error'><%= e %></li>
        <% end %>
      </ul>
    <% end %>


    <%= q.label :name %>
    <%= q.text_field :name %>

    <%= q.submit %>



    <% end %>
